.checkpoint {
  display: flex;
  align-self: end;
  border-top: 1px dashed var(--primary-dark);
  grid-column: 1 / span var(--columns);
  transform: translateY(2.5rem);
  z-index: 10;
  gap: .5rem;
  align-items: center;

  &__buttons {
    cursor: pointer;
    display: none;
    gap: .5rem;
    & > *:hover {
      color: var(--primary-green);
    }
  }
  &:hover > .checkpoint__buttons {
    display: flex;
  }

  &__form {
    display: flex;
    gap: .5rem;

    & > input[type=text], & > select {
      max-width: 12rem;
    }
    & > * {
      font-size: 1rem;
    }

    & > button {
      background: none;
      border: none;
      cursor: pointer;
      &:hover {
        color: var(--primary-green)
      }
    }

  }
}
