.checkpoint {
    display: flex;
    align-self: end;
    border-top: 1px dashed var(--primary-dark);
    grid-column: 1 / span var(--columns);
    transform: translateY(2.5rem);
    z-index: 10;
    pointer-events: none;
    max-height: 1.5rem;
    &__body {
        display: flex;
        align-items: center;
        pointer-events: initial;
        gap: 0.5rem;

        &:hover > .checkpoint__buttons {
            visibility: initial;
            display: flex;
        }
    }
    &__buttons {
        cursor: pointer;
        visibility: hidden;
        gap: 0.5rem;
        & > *:hover {
            color: var(--primary-green);
        }
    }

    &__form {
        display: flex;
        gap: 0.5rem;

        & > input[type="text"],
        & > select {
            max-width: 12rem;
        }
        & > * {
            font-size: 1rem;
        }
        & > button {
            background: none;
            border: none;
            cursor: pointer;
            &:hover {
                color: var(--primary-green);
            }
        }
    }
    &.ghost_checkpoint {
        border-top: 1px dashed var(--primary-dark);
        color: var(--grey-500);
        opacity: 0;
        &:hover,
        &.editing {
            opacity: 100;
        }
        & > button {
            background: none;
            border: 1px solid var(--grey-700);
            min-width: 6rem;
            height: 1.5rem;
            cursor: pointer;
        }
    }
}
