@use "../mixins" as *;

#disconnect-buttons {
    position: absolute;
    top: 0;
    left: 0;
    & > .connection_disconnect {
        position: absolute;
        @include button;
        --size: 1.5rem;

        font-size: 0.75rem;
        width: var(--size);
        height: var(--size);
        padding: 0.2rem;
        &:not(.highlighted) {
            visibility: hidden;
        }
        z-index: 20;
    }
}
#connections {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    margin-left: -2rem;
    z-index: -1;

    & > .connection {
        stroke-width: 2;
        stroke: var(--grey-500);
        fill: none;

        &.highlighted {
            stroke: var(--primary-blue);
        }
    }
}
