.expanded-skill {
    cursor: initial;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: min(100vw - 2rem, 48rem);
    padding: 1rem;

    &__content {
        display: grid;
        gap: 4rem;
        grid-template-columns: 1fr 1fr;

        & > * {
            // both sides
            display: flex;
            flex-direction: column;
        }

        & > :first-child {
            // left
            position: relative;
        }

        & > :last-child {
            // right
        }

        & > :first-child::after {
            // divider
            background-color: var(--grey-700);
            content: "";
            height: 100%;
            position: absolute;
            width: 1px;
            right: -2rem;
        }
    }

    &__group {
        color: var(--secondary-green);
    }

    & .path-name {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
    }
}

.completed .expanded-skill {
    border: 2px solid var(--primary-green);
}

.path-toggle {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &__control {
        align-content: center;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        font-size: 1.125rem;

        & > :last-child {
            margin-left: auto;
        }

        &:hover,
        &:focus-visible {
            color: var(--primary-green);
        }
    }

    &__content {
        display: none;
    }

    &[aria-expanded="true"] {
        .path-toggle__control > :last-child {
            rotate: 180deg;
        }
        .path-toggle__content {
            display: initial;
        }
    }

    &[aria-expanded="true"]:not(:last-child) {
        .path-toggle__content {
            display: initial;
            padding-bottom: 0.5rem;
        }
    }

    &[aria-disabled="true"] {
        .path-toggle__control {
            color: var(--darker-grey);
            cursor: not-allowed;
        }
    }

    & + & {
        margin-top: 0.375rem;
    }
}
