.ghost_row {
    display: flex;
    align-self: start;
    z-index: 10;
    transform: translate(-1.5rem, -1.5rem);
}

.ghost_column {
    display: flex;
    align-self: start;
    z-index: 10;
    transform: translate(-0.5rem, -1.5rem);
}
