@use "../mixins" as *;

.items {
    display: flex;
    flex-direction: column-reverse; /* Fix for z-index on edit elements not working */
    list-style-type: none;
}

.item {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    &[data-delete="true"] {
        & {
            opacity: 30%;
        }
    }

    &__name[data-black="true"] {
        color: var(--primary-dark);
    }

    &__name[data-black="false"] {
        color: var(--grey-500);
    }

    &__icon {
        &.completed {
            color: var(--primary-green);
        }
    }

    &__button {
        align-self: stretch;
        min-width: 2.5rem;

        &[data-staff="true"] {
            background-color: var(--primary-dark);
            border: 1px solid var(--primary-light);
            color: var(--primary-light);
        }
        &:not([data-staff="true"]) {
            @include button(
                var(--primary-dark),
                var(--primary-light),
                var(--primary-light),
                var(--primary-light),
                var(--primary-green),
                var(--primary-green)
            );
        }

        &__edit {
            background-color: var(--primary-dark);
            border: 1px solid var(--primary-light);
            color: var(--primary-light);
            -webkit-appearance: none;
            -moz-appearance: textfield;
            align-self: stretch;
            max-width: 2.5rem;
            text-align: center;
        }
    }

    &.completed {
        & > .item__button {
            background-color: var(--primary-green);
            &:hover,
            &:focus-visible {
                background-color: var(--primary-light);
                border-color: var(--primary-green);
                color: var(--primary-green);
            }
        }
    }

    &__move {
        color: var(--darker-grey);
        cursor: grab;
        padding: 0.1rem;
    }

    &__delete {
        @include icon-button;
    }

    @include show-only-when(".item__delete > *:not(.always_visible)", ":hover");

    &__content {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        flex-grow: 1;
    }
    & > a {
        text-decoration: none;
        & > .item__content {
            color: var(--primary-dark);
            &:hover {
                color: var(--primary-green);
            }
        }
    }

    &__icon__edit {
        min-width: 20px; /* Size of largest icon */
        text-align: center;
    }

    &__create {
        background-color: var(--primary-dark);
        border: 1px solid var(--primary-light);
        color: var(--primary-light);
        cursor: pointer;
        min-width: 2.5rem;
        padding: 0.25rem 0.5rem;
        margin-top: 0.4rem;

        &:hover,
        &:focus-visible {
            background-color: var(--primary-light);
            border: 1px solid var(--primary-dark);
            color: var(--primary-green);
        }
    }

    &__separation {
        border: none;
        width: 100%;
        height: 0.4rem;
        background-color: var(--primary-light);
        margin: 0;

        &.drag_over {
            height: 1.5rem;
            border: 1px dashed var(--primary-dark);
        }
    }

    .circuit[data-moving="item"] &__separation {
        background-color: var(--grey-700);
    }
}

.block[data-editing="true"] .task {
    padding: 0.25rem;
}
