generated
# Gradle
.gradle/

build/
bin/
out/

# Maven
target/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.springBeans

src/main/resources/application.yaml
src/main/resources/application.disabled.yaml
/application.yaml
/application.disabled.yaml
log4j.properties
sentry.properties

# h2 databases
*.db

# MacOS
*.DS_Store

# zsh autocompletion
.gradletasknamecache

# css
/src/main/resources/static/css

# sass cashe

.sass_cache/

# js
/src/main/resources/static/js

# npm
node_modules