@layer settings, reset;

@font-face {
    font-family: "Roboto";
    src: url("/font/roboto.ttf") format("truetype");
}

@font-face {
    font-family: "Winky Sans";
    src: url("/font/winky-sans.ttf") format("truetype");
}

@layer settings {
    :root {
        --primary-colour: hsl(220deg 100% 50%);
        --secondary-colour: hsl(200deg 100% 50%);
        --accept-colour: hsl(110deg 100% 50%);
        --error-colour: hsl(0deg 100% 50%);

        --background-colour: color-mix(in oklab, var(--primary-colour) 15%, white);
        --on-background-colour: color-mix(in oklab, var(--background-colour) 80%, black);
        --on-background-highlight-colour: color-mix(in srgb, var(--secondary-colour) 15%, transparent);

        --header-colour: color-mix(in srgb, white 60%, transparent);
        --on-header-colour: color-mix(in oklab, var(--primary-colour) 40%, black);
        --on-header-active-colour: color-mix(in oklab, var(--primary-colour) 90%, black);

        --group-colour: color-mix(in oklab, var(--background-colour) 50%, white);
        --on-group-colour: color-mix(in oklab, var(--group-colour) 80%, black);
        --completed-group-colour: color-mix(in oklab, var(--background-colour) 50%, color-mix(in oklab, var(--accept-colour) 50%, white));
        --on-completed-group-colour: color-mix(in oklab, var(--completed-group-colour) 80%, black);

        --block-colour: hsl(0deg 0% 100%);
        --completed-block-colour: color-mix(in oklab, var(--accept-colour) 30%, var(--block-colour));
        --on-block-colour: hsl(0deg 0% 0%);
        --on-block-faded-colour: color-mix(in oklab, var(--on-block-colour) 15%, var(--block-colour));
        --on-block-divider-colour: color-mix(in oklab, var(--on-block-colour) 20%, var(--block-colour));

        --completed-task-colour: color-mix(in oklab, var(--accept-colour) 70%, black);

        --checkbox-checked-colour: color-mix(in oklab, var(--accept-colour) 80%, black);
        --on-checkbox-checked-colour: hsl(0deg 0% 100%);

        --link-colour: color-mix(in oklab, var(--primary-colour) 90%, white);
        --link-active-colour: color-mix(in oklab, var(--primary-colour) 80%, black);

        --primary-surface-colour: color-mix(in oklab, var(--primary-colour) 10%, white);
        --primary-surface-active-colour: color-mix(in oklab, var(--primary-colour) 20%, white);
        --on-primary-surface-colour: color-mix(in oklab, var(--primary-colour) 50%, black);

        --primary-error-colour: color-mix(in oklab, var(--error-colour) 10%, white);
        --primary-error-active-colour: color-mix(in oklab, var(--error-colour) 20%, white);
        --on-error-surface-colour: color-mix(in oklab, var(--error-colour) 50%, black);

        --shadow-colour: hsl(0deg 0% 0%);

        --font-family: "Roboto", system-ui, sans-serif;

        --font-size-100: 0.75rem;
        --font-size-200: 0.875rem;
        --font-size-300: 1rem;
        --font-size-400: 1.125rem;
        --font-size-500: 1.25rem;
        --font-size-600: 1.5rem;
        --font-size-700: 1.75rem;
        --font-size-800: 2rem;
        --font-size-900: 2.5rem;
    }
}

@layer reset {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
        font: inherit;
    }

    html, body, #app {
        height: 100%;
    }

    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

    input, button, textarea, select {
        font: inherit;
    }

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    p {
        text-wrap: pretty;
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }

    #root, #__next {
        isolation: isolate;
    }

    :where(ul, ol)[role="list"] {
        list-style: none;
    }

    @media (prefers-reduced-motion: no-preference) {
        html {
            interpolate-size: allow-keywords;
        }
    }
}

:root {
    font-family: var(--font-family);
    background-color: var(--background-colour);
}

.fa-shoe-prints {
    rotate: 270deg;
}