@import url("themes.css");

:root {
    --font-size-100: 0.75em;
    --font-size-200: 0.875em;
    --font-size-300: 1em;
    --font-size-400: 1.125em;
    --font-size-500: 1.25em;
    --font-size-600: 1.5em;
    --font-size-700: 1.75em;
    --font-size-800: 2em;
    --font-size-900: 2.5em;

    font-family: var(--main-font-family), system-ui, sans-serif;
    background-color: var(--background-colour);
}
