<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <li
        th:id="|module-${module.id}|"
        th:data-module="${module.id}"
        th:data-skills-count="${module.getSkillsCount()}"
        layout:fragment="module"
        class="editable-li">
        <div th:id="|module-${module.id}-content|" class="module-content">
            <a
                th:id="|module-${module.id}-name|"
                th:href="|/module/${module.id}|"
                th:text="${module.name}"
                class="editable-item__name" />
            <div class="button-container">
                <button
                    th:data-module="${module.id}"
                    class="fa-solid fa-pencil module__edit"></button>
                <button
                    th:data-module="${module.id}"
                    class="fa-solid fa-trash module__delete"
                    onclick=""></button>
            </div>
        </div>
    </li>
</html>
