<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{container}">
    <head>
        <link rel="stylesheet" th:href="@{/css/edition-edit.css}" />
        <title>Create edition</title>
    </head>
    <body>
        <div layout:fragment="content">
          <h1 th:text="${edition.name}"></h1>

          <h2>Modules</h2>
          <ul id="module-list">
              <th:block th:each="module : ${edition.modules}">
                  <th:block layout:replace="~{edition-setup/module :: module}"></th:block>
              </th:block>
            </ul>
            <form id="new-module-form">
                <input name="edition.id" hidden th:value="${edition.id}"/>
                <input id="new-module-name" name="name" type="text" placeholder="New Module" required/>
                <button type="submit">create</button>
            </form>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    $("#new-module-form").submit((e) => {
                        e.preventDefault();
                        $.post("/module/setup", $("#new-module-form").serialize(), html => {
                            $("#module-list").append(html)
                            $(".module__edit").click(editModule)
                            $(".module__delete").click(deleteModule)
                        });
                    })
                });
            </script>
            <th:block layout:replace="~{edition-setup/delete-module :: overlay}"/>
            <th:block layout:replace="~{edition-setup/delete-module :: script}"/>
            <th:block layout:replace="~{edition-setup/edit-module :: form}"/>
            <th:block layout:replace="~{edition-setup/edit-module :: script}"/>
        </div>
    </body>
</html>
