.info_icon {
    position: relative;
    display: inline-block;

    &:hover .info_icon__text {
        transform: scale(1, 1);
    }
    &__text {
        color: var(--primary-dark);
        background-color: var(--grey-700);
        padding: 0.2rem;
        font-size: 0.8rem;
        text-align: center;
        transform: scale(0, 0);
        transform-origin: top left;
        transition: transform 150ms ease-in-out;
        width: 120px;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }
}

.hover_input {
    position: relative;

    & > input {
        position: absolute;
        transform: scale(0);
    }

    &:hover > input,
    & > input:focus {
        transform: scale(1);
    }

    input:placeholder-shown + span {
        color: var(--grey-500);
    }
}

.select {
    cursor: initial;
    position: relative;

    &:is(&:hover, &:focus-within):not([data-disabled="true"]) > &__items {
        transform: scaleY(1);
    }

    &__items {
        transform: scaleY(0);

        & > ul {
            background-color: var(--primary-light);
            border: 1px solid var(--primary-dark);
            display: flex;
            flex-direction: column;
            list-style: none;
            position: absolute;
            z-index: 30;

            & > li > button {
                align-items: center;
                background: none;
                border: none;
                display: flex;
                gap: 0.25rem;
                height: 100%;
                padding: 0.1rem 0.25rem;
                width: 100%;

                &:hover,
                &:focus-visible {
                    background-color: var(--primary-green);
                    color: var(--primary-light);
                }
            }
        }
    }
}

.selectbox {
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
}
