@use "./mixins" as *;

.info_icon {
    position: relative;
    display: inline-block;

    &:hover .info_icon__text {
        transform: scale(1, 1);
    }
    &__text {
        color: var(--primary-dark);
        background-color: var(--grey-700);
        padding: 0.2rem;
        font-size: 0.8rem;
        text-align: center;
        transform: scale(0, 0);
        transform-origin: top left;
        transition: transform 150ms ease-in-out;
        width: 120px;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }
}

.hover_input {
    position: relative;

    & > input {
        position: absolute;
        transform: scale(0);
    }

    &:hover > input:not([disabled]),
    & > input:not([disabled]):focus {
        transform: scale(1);
    }

    input:placeholder-shown + span {
        color: var(--grey-500);
    }
}

.select {
    cursor: initial;
    position: relative;

    &__label {
        background: none;
        border: none;
        font-size: 1rem;
    }

    &:is(&:hover, &:focus-within):not([data-disabled="true"]) > &__items {
        transform: scaleY(1);
    }

    &__items {
        transform: scaleY(0);
        z-index: 100;
        position: absolute;

        @include button-list();

        & > ul {
            z-index: 30;

            & > li > button {
                align-items: center;
                background: none;
                border: none;
                display: flex;
                gap: 0.25rem;
                height: 100%;
                padding: 0.1rem 0.25rem;
                width: 100%;
            }
        }
    }
}

.selectbox {
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
}

.button {
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    &:hover,
    &:focus-visible {
        background-color: var(--primary-green);
        color: var(--primary-light);
    }
}

.action_dialog {
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
    bottom: 2rem;
    left: 2rem;
    padding: 1rem;
    position: fixed;
    z-index: 200;
}

input[type="checkbox"] {
    accent-color: var(--primary-green);
}

.tabs {
    display: flex;
    gap: 0.25rem;
    margin-block: 1rem;
    position: relative;

    &::after {
        background-color: var(--primary-dark);
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .tab {
        background-color: var(--primary-light);
        border: 1px solid var(--primary-dark);
        color: var(--primary-green);
        cursor: pointer;
        font-size: 1rem;
        min-width: 12rem;
        padding: 0.5rem 1rem;

        &:hover,
        &:focus-visible,
        &[data-active="true"] {
            background-color: var(--primary-green);
            color: var(--primary-light);
        }
    }
}

.grid {
    --grid-gap: 0.5rem;
    display: grid;
    gap: var(--grid-gap);
    &.two-col {
        grid-template-columns: 1fr 1fr;
    }
}
