.footer {
    background-color: var(--primary-light);
    min-width: 100%;
    padding: 0.75rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        color: var(--primary-green);
        text-decoration: none;
        &:hover,
        &:focus-visible {
            color: var(--secondary-green);
        }
    }
}
