.header {
    position: relative;
    // has to be on top of the connection svg
    z-index: 100;
    background-color: var(--primary-green);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    &__title > a {
        color: var(--primary-light);
        text-decoration: none;
    }

    &__icons {
        align-items: center;
        display: flex;
        gap: 1rem;
        list-style-type: none;
    }

    &__icon {
        a {
            color: var(--primary-light);
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__dropdown {
        display: none;
        position: absolute;
        right: 1rem;
        background-color: var(--background-colour);
        border: 1px solid var(--grey-500);
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
        list-style: none;
        padding: 5px 0;
        border-radius: 5px;

        a,
        button {
            color: var(--primary-dark);
            text-align: left;
            padding: 0.25rem 1rem;
            width: 100%;
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1rem;

            &:hover {
                background-color: var(--grey-700);
            }
        }
    }
}

.show_dropdown {
    display: block;
}
