.header {
    position: relative;
    // has to be on top of the connection svg
    z-index: 100;
    background-color: var(--primary-green);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    &__title > a {
        color: var(--primary-light);
        text-decoration: none;
    }

    &__icons {
        align-items: center;
        display: flex;
        gap: 1rem;
        list-style-type: none;
    }

    &__icon {
        a {
            color: var(--primary-light);
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__dropdown {
        flex-direction: column;
        position: absolute;
        right: 1rem;
        background-color: var(--background-colour);
        border: 1px solid var(--primary-dark);
        list-style: none;
        padding: 0.5rem 0;

        a,
        button {
            color: var(--primary-dark);
            text-align: left;
            padding: 0.25rem 1rem;
            display: block;
            width: 100%;
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1rem;

            &:hover {
                background-color: var(--grey-700);
            }
        }
    }
}

#dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--primary-light);

    &:focus ~ #dropdown {
        display: flex;
    }
}

#dropdown {
    display: none;
}
