.info-box {
    z-index: 421;
    background-color: transparentize($primary-green, 0.2);
    color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: fixed;
    left: 1.5rem;
    bottom: 1.5rem;
    align-items: center;
    min-height: 3.8rem;
    min-width: 3.8rem;

    &[aria-expanded="false"] .info-text {
        display: none;
    }

    .info-text {
        padding-left: 1rem;
        padding-right: 1.1rem;
        display: flex;
        flex-direction: column;
        color: var(--primary-light);
        text-decoration: none;

        .larger-info {
            padding-top: 0.8rem;
            padding-bottom: 0.3rem;
            font-size: 1.2rem;
        }

        .smaller-info {
            padding-bottom: 0.8rem;
        }
    }

    .icons {
        padding-inline: 0.5rem;
        width: 4.4rem;
        height: 3rem;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .map-icon {
            font-size: 1.7rem;
            color: var(--primary-light);
            text-decoration: none;
        }

        .arrow-icon {
            color: var(--grey-700);
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                font-size: 1.4rem;
            }
        }
    }

    &[aria-expanded="false"] .arrow-icon {
        transform: rotate(180deg);
    }

    .info-text:where(:hover, :focus-visible) ~ .icons .map-icon,
    .map-icon:where(:hover, :focus-visible) {
        transform: scale(1.15);
    }
}
