.info-box {
    z-index: 421;
    background-color: var(--primary-green);
    color: var(--primary-light);
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    position: fixed;
    width: auto;
    height: auto;
    left: 1.5rem;
    bottom: 1.5rem;
    align-items: center;
    min-height: 4rem;
    min-width: 10rem;

    div {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;

        .larger-info {
            padding-top: 0.8rem;
            padding-bottom: 0.3rem;
            font-size: 1.2rem;
            color: var(--primary-light);
            text-decoration: none;
        }

        .smaller-info {
            padding-bottom: 0.8rem;
            color: var(--primary-light);
            text-decoration: none;
        }
    }

    i {
        padding-left: 0.8rem;
        padding-right: 1rem;
        font-size: 1.5rem;
    }
}
