.info-box {
    z-index: 421;
    background-color: var(--primary-green);
    color: var(--primary-light);
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    width: auto;
    height: auto;
    left: 1.5rem;
    bottom: 1.5rem;
    align-items: center;
    min-height: 4rem;
    min-width: 10rem;

    p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    i {
        padding-right: 1rem;
        font-size: 1.25rem;
    }
}
