.privacy {
    padding: 2rem 3rem 2rem;

    ul {
        margin-left: 1.5rem;
    }

    h1 {
        margin: 1rem 0;
    }

    h2 {
        margin: 0.8rem 0;
    }

    h3,
    p {
        margin: 0.5rem 0;
    }

    a {
        color: var(--primary-green);

        &:hover,
        &:focus-visible {
            color: var(--secondary-green);
        }
    }
}
