:root {
  --primary-green: #2e8a00;
  --primary-light: #FFFFFF;
  --primary-dark: #000000;

  --background-colour: #F7F7F7;

  --grey-700: #d9d9d9;

  --font: noto sans, arial, sans-serif;

  background-color: var(--background-colour);
  font-family: var(--font);
}