:root {
  --columns: 5;
}

.circuit {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.skill {
  background-color: var(--primary-light);
  border: 1px solid var(--primary-dark);
  padding: 1rem;
  position: relative;
  z-index: 10;

  &.draggable {
    cursor: grab;
  }

  &__buttons {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -1px;

    button {
      background-color: var(--primary-light);
      border: 1px solid var(--primary-dark);
      color: var(--primary-green);
      cursor: pointer;
      font-size: 1rem;
      padding: 0.5rem;
      transform: translateX(100%);
      z-index: 11;
      &:hover, &:focus-visible {
        background-color: var(--primary-green);
        color: var(--primary-light);
      }
    }
  }
  &:hover > .skill__buttons,
  &:focus-within > .skill__buttons {
    display: flex;
  }
}

.tasks {
  list-style-type: none;
}

.task {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  &__button {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    cursor: pointer;
    min-width: 2.5rem;

    &:hover, &:focus-visible {
      background-color: var(--primary-light);
      border-color: var(--primary-green);
      color: var(--primary-green);
    }
  }

  &.completed {
    & > .task__button {
      background-color: var(--primary-green);
      &:hover, &:focus-visible {
        background-color: var(--primary-light);
        border-color: var(--primary-green);
        color: var(--primary-green);
      }
    }
  }
}

.ghost_skill {
  align-items: center;
  display: grid;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 2rem;
  min-width: 2rem;
  &.drag_over {
    border: 1px dashed var(--primary-dark);
  }
  & > * {
    display: none;
  }
  &:hover {
    background-color: var(--primary-light);
    border: 1px dotted var(--primary-dark);
    cursor: pointer;
    opacity: 50%;
    & > * {
      display: initial;
    }
  }
}
.circuit.editing > .ghost_skill {
  background-color: var(--grey-700);
}

.checkpoint {
  align-self: end;
  border-top: 1px dashed var(--primary-dark);
  grid-column: 1 / span var(--columns);
  max-height: 1px;
  transform: translateY(1rem);
}

.create_skill {
  background-color: var(--primary-light);
  border: 1px solid var(--primary-dark);
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(2, auto);
  padding: 1rem;

  & > input[type=text], & > select {
    max-width: 12rem;
  }
  & > * {
    font-size: 1rem;
  }

  &__buttons {
    display: flex;
    gap: .5rem;
    grid-column: 1 / span 2;
    justify-content: space-between;
    margin-top: .5rem;

    & > button {
      background-color: var(--primary-light);
      border: 1px solid var(--primary-dark);
      cursor: pointer;
      font-size: 1rem;
      padding: .25rem .5rem;
      &:hover {
        background-color: var(--primary-green);
        color: var(--primary-light);
      }
    }
  }
}