:root {
  --columns: 5;
}

.circuit {
  --circuit-gap: 3rem;

  display: grid;
  gap: var(--circuit-gap);
  grid-template-columns: repeat(var(--columns), 1fr);
}

.skill {
  background-color: var(--primary-light);
  --border-colour: var(--primary-dark);
  border: 1px solid var(--border-colour);
  padding: 1rem;
  position: relative;
  z-index: 10;

  &.highlighted{
    --border-colour: var(--primary-green);
    outline: 2px solid var(--border-colour);
  }

  &[data-essential="false"] {
    --border-colour: #FF00FF;
  }

  &.draggable {
    cursor: grab;
  }

  &__buttons {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -1px;

    button {
      background-color: var(--primary-light);
      border: 1px solid var(--primary-dark);
      color: var(--primary-green);
      cursor: pointer;
      font-size: 1rem;
      padding: 0.5rem;
      transform: translateX(100%);
      z-index: 11;
      &:hover, &:focus-visible {
        background-color: var(--primary-green);
        color: var(--primary-light);
      }
    }
  }
  &:hover > .skill__buttons,
  &:focus-within > .skill__buttons {
    display: flex;
  }

  &__form {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, auto);

    & > input[type=text], & > select {
      max-width: 12rem;
    }
    & > * {
      font-size: 1rem;
    }

    &.create {
      background-color: var(--primary-light);
      border: 1px solid var(--primary-dark);
      padding: 1rem;
      z-index: 10;
      position: relative;
    }

    &.edit {
      margin-bottom: 2rem;
      position: relative;
      &::after {
        background-color: var(--primary-dark);
        bottom: -1rem;
        content: '';
        height: 1px;
        position: absolute;
        width: 100%;
      }
    }

    &__buttons {
      display: flex;
      gap: .5rem;
      grid-column: 1 / span 2;
      justify-content: space-between;
      margin-top: .5rem;

      & > button {
        background-color: var(--primary-light);
        border: 1px solid var(--primary-dark);
        cursor: pointer;
        font-size: 1rem;
        padding: .25rem .5rem;
        &:hover {
          background-color: var(--primary-green);
          color: var(--primary-light);
        }
      }
    }
  }
  &__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__submodule__name{
    color: var(--secondary-green);
    &:hover {
      color: var(--primary-green);
      border-color: var(--primary-green);

    }
  }

}

.tasks {
  list-style-type: none;
}

.task {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  &__button {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    cursor: pointer;
    min-width: 2.5rem;

    &:hover, &:focus-visible {
      background-color: var(--primary-light);
      border-color: var(--primary-green);
      color: var(--primary-green);
    }
  }

  &.completed {
    & > .task__content > .task__button {
      background-color: var(--primary-green);
      &:hover, &:focus-visible {
        background-color: var(--primary-light);
        border-color: var(--primary-green);
        color: var(--primary-green);
      }
    }
  }

  &__buttons {
    cursor: pointer;
    display: none;
    gap: .5rem;
    & > *:hover {
      color: var(--primary-green);
    }
  }
  &:hover > .task__buttons {
    display: flex;
  }

  &__content {
    display: flex;
    gap: 0.5rem;
  }

  &__form {
    display: flex;
    gap: .5rem;
    & > * {
      font-size: 1rem;
    }
    & > input[type=text] {
      max-width: 12rem;
    }
    & > button {
      background: none;
      border: none;
      cursor: pointer;
      &:hover {
        color: var(--primary-green);
      }
    }
  }

  &__create {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    cursor: pointer;
    display: none;
    min-width: 2.5rem;
    padding: .25rem .5rem;
    &:hover, &:focus-visible {
      background-color: var(--primary-light);
      border: 1px solid var(--primary-dark);
      color: var(--primary-green);
    }
  }
}
.skill:hover .task__create,
.skill:focus-within .task__create {
  display: initial;
}

.ghost_block {
  align-items: center;
  display: grid;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 2rem;
  min-width: 2rem;
  &.drag_over {
    border: 1px dashed var(--primary-dark);
  }
  & > * {
    display: none;
  }
  &:hover, &:focus-visible {
    background-color: var(--primary-light);
    border: 1px dotted var(--primary-dark);
    cursor: pointer;
    opacity: 50%;
    & > * {
      display: initial;
    }
  }
}
.circuit.editing > .ghost_skill {
  background-color: var(--grey-700);
}

.connection {
  align-self: end;
  justify-self: center;
  background-color: var(--grey-500);
  z-index: 0;

  &.horizontal {
    --width: 1;
    --x-diff: 0;
    height: 2px;
    width: calc((100% + var(--circuit-gap)) * (var(--width) - 1) / var(--width) + var(--x-diff));
  }

  &.vertical {
    --y-offset: 0;
    height: calc(var(--circuit-gap) / 2);
    width: 2px;
    &.in {
      align-self: start;
      height: calc(var(--circuit-gap) / 2 - var(--y-offset));
    }
    &.out {
      --height: 1;
      height: calc(100% + var(--y-offset) + var(--circuit-gap) * 1.5);
    }
  }

  &.highlighted {
    background-color: #0000ff;
    z-index: 1;
  }
}

.checkpoint {
  align-self: end;
  border-top: 1px dashed var(--primary-dark);
  grid-column: 1 / span var(--columns);
  max-height: 1px;
  transform: translateY(1rem);
  z-index: 10;
}

.info_icon {
  position: relative;
  display: inline-block;

  &:hover .info_icon__text {
    transform: scale(1, 1);
  }
  &__text {
    transform: scale(0, 0);
    transform-origin: top left;
    transition: transform 150ms ease-in-out;
    width: 120px;
    background-color: var(--grey-700);
    color: var(--primary-dark);
    text-align: center;
    padding: 0.2rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

}
@media(prefers-reduced-motion) {
  .info_icon__text {
    transition: none;
  }
}

