:root {
  --columns: 5;
}

.circuit {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.skill {
  background-color: var(--primary-light);
  border: 1px solid var(--primary-dark);
  padding: 1rem;
  z-index: 10;

  &.draggable {
    cursor: grab;
  }
}

.tasks {
  list-style-type: none;
}

.task {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  &__button {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    cursor: pointer;
    min-width: 2.5rem;

    &:hover, &:focus-visible {
      background-color: var(--primary-light);
      border-color: var(--primary-green);
      color: var(--primary-green);
    }
  }
  &.completed {
    & > .task__button {
      background-color: var(--primary-green);
      &:hover, &:focus-visible {
        background-color: var(--primary-light);
        border-color: var(--primary-green);
        color: var(--primary-green);
      }
    }
  }
}

.ghost_skill {
  min-height: 2rem;
  min-width: 2rem;
  &.drag_over {
    border: 1px dashed var(--primary-dark);
  }
}
.circuit.editing > .ghost_skill {
  background-color: var(--grey-700);
}

.checkpoint {
  align-self: end;
  border-top: 1px dashed var(--primary-dark);
  grid-column: 1 / span var(--columns);
  max-height: 1px;
  transform: translateY(1rem);
}