@use "mixins" as *;

ul {
    list-style: none;
}
.editable-li > div {
    display: flex;
    gap: 1rem;
    & a {
        text-decoration: none;
        color: var(--primary-dark);
    }
    & .button-container {
        display: flex;
        gap: 0.5rem;
        & > button {
            @include icon-button;
        }
    }
}
.overlay {
    width: 25rem;
}
#edit-module,
#edit-checkpoint {
    & button {
        @include icon-button;
    }
}
#new-module-form,
#new-checkpoint-form {
    input {
        padding: 0.25rem;
    }
    button {
        @include button;
        padding: 0.25rem;
    }
}
#delete-checkpoint-conflict-warning {
    color: var(--primary-red);
}
