@import "vars";
@import "header";
@import "footer";
@import "index";
@import "privacy";
@import "infobox";
@import "overlay";
@import "components";
@import "whats_new";
@import "util";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ::before,
    ::after {
        box-sizing: border-box;
    }
}

.content {
    padding: 2rem 3rem 6rem;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-section {
    flex-grow: 1;
}
