.whats_new {
    border: 1px solid var(--primary-dark);
    position: fixed;
    right: 50%;
    z-index: 10000;
    background: var(--primary-light);
    padding: 1rem 3rem 3rem;
    top: 4rem;
    width: 40%;
    transform: translateX(50%);
    overflow-y: auto;
    max-height: 90%;

    & > button {
        text-align: center;
        position: relative;
        padding: 0.4rem 2rem;
        top: 1.3rem;
        background: var(--primary-green);
        color: var(--primary-light);
        left: 50%;
        transform: translateX(-50%);
    }
}

#title {
    text-align: center;
    padding-bottom: 1rem;
}

#update_text {
    background: var(--background-colour);
    padding: 0 4rem 1rem 2rem;
    position: relative;

    & > h2,
    & > h3 {
        padding-top: 1rem;
    }

    & > ul {
        position: relative;
        left: 2rem;
    }
}

hr {
    margin-top: 1rem;
}
