.whats_new {
    scale: 1;
    opacity: 1;
    border: 1px solid var(--primary-dark);
    position: fixed;
    right: 50%;
    z-index: 10000;
    background: var(--primary-light);
    padding: 20px 55px 50px;
    width: 40%;
    transform: translateX(50%);
    overflow-y: scroll;
    max-height: 90%;

    & > button {
        text-align: center;
        position: relative;
        padding: 5px 25px;
        top: 20px;
        background: var(--primary-green);
        color: var(--primary-light);
        left: 50%;
        transform: translateX(-50%);
    }
}
#title {
    text-align: center;
    padding-bottom: 10px;
}
#update_text {
    background: var(--background-colour);
    padding: 30px 50px 30px;
    position: relative;
}
